.container {
    margin-top: 150px;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

.showing-up,
.shown-soon,
.showing-hot{
    height: 650px;
    margin-bottom: 50px;
}

.showing-up .movie-top,
.shown-soon .movie-top,
.showing-hot .movie-top {
    width: 300px;
    float: right;
    height: 100%;
}

.showing-up .movie-grid,
.shown-soon .movie-grid,
.showing-hot .movie-grid {
    float: left;
    width: 800px;
    height: 100%;
}

.showing-up .movie-grid .head,
.shown-soon .movie-grid .head,
.showing-hot .movie-grid .head {
    height: 40px;
}

.showing-up .movie-grid .head img,
.shown-soon .movie-grid .head img,
.showing-hot .movie-grid .head img,
.showing-hot .movie-top .head img {
    float: right;
    margin-top: 12px;
}

.showing-up .movie-grid .head .all,
.shown-soon .movie-grid .head .all,
.showing-hot .movie-grid .head .all,
.showing-hot .movie-top .head .all {
    float: right;
    line-height: 40px;
}

.showing-up .movie-grid .head .all  a:link, .showing-up .movie-grid .head .all  a:visited,
.shown-soon .movie-grid .head .all  a:link, .shown-soon .movie-grid .head .all  a:visited,
.showing-hot .movie-grid .head .all a:link, .showing-hot .movie-grid .head .all a:visited,
.showing-hot .movie-top .head .all a:link, .showing-hot .movie-top .head .all a:visited {
    color: #9E5126;
    text-decoration: none;
}

.showing-up .movie-grid .head .all  a:hover, .showing-up .movie-grid .head .all  a:active,
.shown-soon .movie-grid .head .all  a:hover, .shown-soon .movie-grid .head .all  a:active,
.showing-hot .movie-grid .head .all a:hover, .showing-hot .movie-grid .head .all a:active,
.showing-hot .movie-top .head .all a:hover, .showing-hot .movie-top .head .all a:active {
    color: #9E5126;
    text-decoration: underline;
}

.showing-up .movie-grid .head .hot,
.shown-soon .movie-grid .head .hot,
.showing-hot .movie-grid .head .hot,
.showing-up  .movie-top .head .top-today,
.shown-soon  .movie-top .head .top-today,
.showing-hot .movie-top .head .top-today{
    line-height: 40px;
    font-size: 26px;
    color: #9E5126;
}

.showing-up  .movie-grid .movie-list .movie_dl dd,
.shown-soon  .movie-grid .movie-list .movie_dl dd,
.showing-hot .movie-grid .movie-list .movie_dl dd {
    float: left;
    margin: 10px 15px 10px 30px ;
}

.showing-up  .movie-grid .movie-list .movie_dl dd img,
.shown-soon  .movie-grid .movie-list .movie_dl dd img,
.showing-hot .movie-grid .movie-list .movie_dl dd img {
    width: 150px;
    height: 180px;
}

